#chart-data * {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.recording-area {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 50px;
  border: 2px solid red;
}

#chart-data {
  background: black;
}
